@{
	ViewData["Title"] = "Контакты";
}

<link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />

<div class="wrapper-info">
	<h1>Контакты</h1>
	<div class="contacts-info">
		<div id="con1">
			<p>📍 Адрес: г. Санкт-Петербург, Старорусский просп., 6</p>
		</div>
		<div id="con2">
			<p>📞 Телефон: +7 (123) 123-45-67<br>✉️ Email: info@steelbro.ru</p>

		</div>
		<div id="con3">
			<a href="#"><img src="~/images/vk.png" alt="vk" /></a>
			<a href="#"><img src="~/images/whatsapp.png" alt="whatsup" /></a>
			<a href="#"><img src="~/images/telegram.png" alt="telegram" /></a>
		</div>
	</div>
</div>
