@{
	ViewData["Title"] = "Услуги";
}


<h2>Компьютерный сервис</h2>
<table>
	<thead>
		<tr>
			<th>Наименование услуги</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Выезд специалиста в пределах СПб</td>
			<td>Бесплатно</td>
		</tr>
		<tr>
			<td>Выезд специалиста компьютерного сервиса в ЛО</td>
			<td>от 300 руб.</td>
		</tr>
		<tr>
			<td>Диагностика компьютера</td>
			<td>Бесплатно</td>
		</tr>
		<tr>
			<td>Удаление вируса</td>
			<td>от 150 руб.</td>
		</tr>
		<tr>
			<td>Работа с данными</td>
			<td>от 100 руб.</td>
		</tr>
		<tr>
			<td>Профилактические работы</td>
			<td>от 100 руб.</td>
		</tr>
		<tr>
			<td>Настройка маршрутизатора</td>
			<td>600 руб.</td>
		</tr>
		<tr>
			<td>Настройка сети, internet</td>
			<td>от 200 руб.</td>
		</tr>
		<tr>
			<td>Установка и настройка ОС</td>
			<td>от 350 руб.</td>
		</tr>
	</tbody>
</table>

<h2>Ремонт компьютеров</h2>
<table>
	<thead>
		<tr>
			<th>Наименование услуги</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Первичная диагностика</td>
			<td>0 ₽</td>
		</tr>
		<tr>
			<td>Выключается</td>
			<td>от 590 ₽</td>
		</tr>
		<tr>
			<td>Чистка от пыли</td>
			<td>от 990 ₽</td>
		</tr>
		<tr>
			<td>Установка Windows</td>
			<td>от 1130 ₽</td>
		</tr>
		<tr>
			<td>Тормозит</td>
			<td>от 590 ₽</td>
		</tr>
		<tr>
			<td>Греется</td>
			<td>от 690 ₽</td>
		</tr>
		<tr>
			<td>Не включается</td>
			<td>от 590 ₽</td>
		</tr>
		<tr>
			<td>Перезагружается</td>
			<td>от 590 ₽</td>
		</tr>
		<tr>
			<td>Не работает</td>
			<td>от 690 ₽</td>
		</tr>
		<tr>
			<td>Восстановление Windows</td>
			<td>от 790 ₽</td>
		</tr>
		<tr>
			<td>Замена процессора</td>
			<td>от 1270 ₽</td>
		</tr>
		<tr>
			<td>Замена жесткого диска</td>
			<td>от 570 ₽</td>
		</tr>
		<tr>
			<td>Замена SSD диска</td>
			<td>от 570 ₽</td>
		</tr>
	</tbody>
</table>

<h2>Ремонт ноутбуков</h2>
<table>
	<thead>
		<tr>
			<th>Наименование услуги</th>
			<th>Цена</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Профилактические работы без химической чистки</td>
			<td>990 ₽</td>
		</tr>
		<tr>
			<td>Профилактические работы с химической чисткой</td>
			<td>от 1290 ₽</td>
		</tr>
		<tr>
			<td>Синий экран</td>
			<td>от 490 ₽</td>
		</tr>
		<tr>
			<td>Моргает или мерцает экран</td>
			<td>от 990 ₽</td>
		</tr>
		<tr>
			<td>Замена корпуса</td>
			<td>от 990 ₽</td>
		</tr>
		<tr>
			<td>Ремонт вентилятора</td>
			<td>от 590 ₽</td>
		</tr>
		<tr>
			<td>Установка антивируса</td>
			<td>от 390 ₽</td>
		</tr>
		<tr>
			<td>Настройка интернета/WI-FI</td>
			<td>от 490 ₽</td>
		</tr>
		<tr>
			<td>Удаление баннеров</td>
			<td>от 390 ₽</td>
		</tr>
		<tr>
			<td>Замена привода оптических дисков</td>
			<td>от 890 ₽</td>
		</tr>
		<tr>
			<td>Замена модуля оперативной памяти</td>
			<td>от 390 ₽</td>
		</tr>
		<tr>
			<td>Замена системы охлаждения</td>
			<td>от 1170 ₽</td>
		</tr>
		<tr>
			<td>Замена системной (материнской) платы</td>
			<td>от 1430 ₽</td>
		</tr>
		<tr>
			<td>Ремонт системы охлаждения</td>
			<td>от 1530 ₽</td>
		</tr>
	</tbody>
</table>


