@{
	ViewData["Title"] = "Финансы";
}
<link rel="stylesheet" href="~/css/buh.css" asp-append-version="true" />

<section class="content-block">
    <section class="finance_block">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                    <th>Назначение</th>
                </tr>
            </thead>
            <tbody>
                <!-- Данные из базы данных будут вставлены здесь -->
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="buttons">
        <div class="but">
            <button class="btn">Добавить операцию</button>
            <button class="btn">Сформировать отчет</button>
        </div>
    </div>
</section>